<div class="container-fluid black">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="fs-2 myp pt-5 pl-5 pr-5">What's new <br>
                    on CoWIN?</p>
            </div>
            <div class="col-md-8 pt-5">
                <p class="coll">
                    <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    You can download your vaccination certificate for International Travel
                    <i class="fa fa-caret-down" style="font-size:24px; padding-left:350px;"></i>
                    </a>     
                </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body new1">
                        This new feature allows fully vaccinated citizens to update existing photo identity to passport number and date of birth to get International Travel Certificate.
                    </div>
                  </div>
                  <p-divider></p-divider>
            </div>
        </div>
    </div>
</div>
