<div class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="landinghome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="admin">Administrator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Vaccinator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Verify Certificate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Open API's</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-0 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="#">Skip To Main Content</a>
              </li>
              <li class="nav-item border border-white aplus">
                <a class="nav-link active" aria-current="page" routerLink="#">A+</a>
              </li>
              <li class="nav-item border border-white aplus">
                <a class="nav-link active" aria-current="page" routerLink="#">A</a>
              </li>
              <li class="nav-item border border-white aplus">
                <a class="nav-link active" aria-current="page" routerLink="#">A-</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  English
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Hindi</a></li>
                  <li><a class="dropdown-item" href="#">Marathi</a></li>
                  <li><a class="dropdown-item" href="#">Malyalam</a></li>
                  <li><a class="dropdown-item" href="#">Punjabi</a></li>
                  <li><a class="dropdown-item" href="#">Telugu</a></li>
                  <li><a class="dropdown-item" href="#">Kannad</a></li>
                  <li><a class="dropdown-item" href="#">Tamil</a></li>
                  <li><a class="dropdown-item" href="#">Bengali</a></li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm  nav2 ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/images/new-logo.svg" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      </div>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-0 mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      VACCINATION SERVICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Register Members</a></li>
                      <li><a class="dropdown-item" href="#">Search Vaccination Centers</a></li>
                      <li><a class="dropdown-item" href="#">Book Vaccination Slots</a></li>
                      <li><a class="dropdown-item" href="#">Manage Appointment</a></li>
                      <li><a class="dropdown-item" href="#">Download Certificate</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      PLATFORMS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">CoWin International</a></li>
                      <li><a class="dropdown-item" href="#">Vaccinator</a></li>
                      <li><a class="dropdown-item" href="#">Department Login</a></li>
                      <li><a class="dropdown-item" href="#">Verify Certificate</a></li>
                      <li><a class="dropdown-item" href="#">Vaccination Statistics</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      RESOURCES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">How To Get Vaccinated</a></li>
                      <li><a class="dropdown-item" href="#">Dos and Don'ts</a></li>
                      <li><a class="dropdown-item" href="#">Overview</a></li>
                      <li><a class="dropdown-item" href="#">API Guidelines</a></li>
                      <li><a class="dropdown-item" href="#">Grievance Guidelines</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      SUPPORT
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Frequently Asked Questions</a></li>
                      <li><a class="dropdown-item" href="#">Certificate Corrections</a></li>
                    </ul>
                  </li>
              
              <li class="nav-item border border-white rounded-pill aplus " >
                <a class="nav-link active" style="color:white;" aria-current="page" routerLink="#">Register / Sign In</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
