<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="fs-2">Search Your Nearest Vaccination Center</h3>
            <p class="fs-6">Get a preview list of the nearest centers and check availability of vaccination slots</p>
            <p class="text-center fs-6 login"><a routerLink="">Login to book your slot</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            
        </div>
    </div>
</div>