<div class="container-fluid vaccinationcount">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <img src="../../../assets/images/vaccine.svg" class="img1" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Total Vaccination Doses</p>
                        <p class="count">1,08,46,14,250</p>
                    </div>
                </div>
                <div class="row mytext">
                    <p>India marches beyond <a class="text-center" routerLink="#">1 Billion</a> Vaccine doses</p>
                </div>
                <div class="row viewmore"> 
                    <a class="text-center" routerLink="#">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        View More</a> </div>
            </div>
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-2">
                        <img src="../../../assets/images/syringe.png" class="img2" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Vaccinations Done Today</p>
                        <p class="count">21,00,6768</p>
                    </div>
                    <div class="col-md-1">
                        <img src="../../../assets/images/download.png" width="150" height="80" class="img3" alt="">
                    </div>
                </div>   
                <div class="row mytext">
                    <p>India sets world record of <a class="text-center" routerLink="#">2.5 Cr+ Vaccinations</a> in a day</p>                 
                </div> 
            </div>
        </div>
    </div> 
</div>